<aside class="minor">
    <a class="prev"href="kurser.html">ATL</a>
    <a class="next" href="gratia.html">GRA</a>
</aside>

<aside class="kurs">
    <p>
        S1A
    </p>
</aside>

<input type="checkbox" name="" id="">

<aside class="kurs">
    <P>
        S2A
    </P>
</aside>

<input type="checkbox" name="" id="">

<aside class="kurs">
    <P>
        S3A
    </P>
</aside>

<input type="checkbox" name="" id="">

<aside class="kurs">
    <P>
        S4A
    </P>
</aside>

<input type="checkbox" name="" id="">

<aside class="kurs">
    <P>
        S5A
    </P>
</aside>

<input type="checkbox" name="" id="">