<aside class="minor">
    <a class="prev" href="gratitude.html">GRU </a>
    <a class="next"href="kurser.html">ATL</a>
</aside>
<aside class="kurs">
    <p>
        S1B
    </p>
</aside>

<input type="checkbox" name="" id="">

<aside class="kurs">
    <P>
        S2B
    </P>
</aside>

<input type="checkbox" name="" id="">

<aside class="kurs">
    <P>
        S3B
    </P>
</aside>

<input type="checkbox" name="" id="">

<aside class="kurs">
    <P>
        S4B
    </P>
</aside>

<input type="checkbox" name="" id="">

<aside class="kurs">
    <P>
        S5B
    </P>
</aside>

<input type="checkbox" name="" id="">