.view{
    right: 0vw;
}

.arrowActive {
    transform: rotate(180deg);
    right: 50vw !important;
}

.material-icons{
    position: fixed;
    top: 45vh;
    right: 3vw;
    font-size: 42px;
    transition: right ease-in-out 0.5s, transform ease-in-out 0.2s;
}

